body { 
	padding-top: 70px;
	padding-bottom: 70px; 
	padding-left: 10px;
	padding-right: 10px;
}

.titleBar {
	margin-top:20px;
}

.pForm {
	margin: 0px;
}

.form-group {
    margin-bottom:8px;
}

h2{
	margin-top: 0px;
}

.navBarText{
	font-size: 90%;
	color: #eee;
}

.text{
	padding-left: 5px;
	padding-right: 5px;
}

#terrainLabels{
	position: absolute; 
	width: 100%; 
	right:0%; 
	bottom:60px; 
	padding-right:10px; 
	padding-left: 10px;	
}